body {
	font-family: 'Merriweather', serif;
	padding: 10px;
}

.navbar {
	font-family: 'Merriweather', serif;
	background-image: url("background.jpg");
	background-position: center;
	background-size: 1600px 1600px;
	text-decoration-color: black;
}

#slogan {
	font-family: 'Yellowtail', serif;
}

#logo {
	width: 28%;
}
#userLogo {
	width: 10%;
}
#logo1 {
	width: 15%;
}

.responsive {
  width: 100%;
  height: auto;
}

#banner {
	opacity: 100%;
}

.card {
  background-size: cover;
  width: 350px;
  height: 650px;
}

#cards {
	border-style: solid;
	border-color: #006a4e;
	border-width: 3px;
}

footer {
	font-family: 'Merriweather', serif;
	background-image: url("background.jpg");
	background-position: bottom;
	background-size: 1800px 1000px;
	text-decoration-color: black;
	color: #006a4e;
}

#registerUser, #loginUser, #createCourse {
	font-family: 'Merriweather', serif;
	background-image: url("background.jpg");
	background-position: top;
	background-size: 1800px 1000px;
	border-style: solid;
	border-color: #006a4e;
	border-width: 3px;
	padding: 20px;
	color:#006a4e;
}

#divInner {
	font-family: 'Merriweather', serif;
	border-style: solid;
	border-color: #006a4e;
	border-width: 3px;
	padding: 20px;
	color:#006a4e;
}

ul {
	border-style: none;
}

#submitBtn, #loginBtn, #bookBtn{
	background-color: #006a4e;
}
